/* .nav ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.nav ul li{
    margin-right: 20px;
}
.nav{
    background-color: navy;
    display: flex;
    align-items: center;
    height: 50px;
}
.button{
    display: flex;
    justify-content: left;
} */
#login{
    width: 50%;
    height: 432px;
    border: 1px solid grey;
}
#dangnhap{
    width: 50%;

    box-sizing: border-box;
    float: right;
    height: 100%;
    padding-top: 30px;
    padding-left: 30px;
}
#img{
    width: 50%;

    box-sizing: border-box;
    float: left;
}
#img img{
    width: 100%;
}
.button{
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 5px solid black;
    width: 130px;
}
#dangnhap a{
    text-decoration: none;
}
#dangnhap input{
    width: 290px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}