body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.header {
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}
.navbar-custom {
    background-color: transparent;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    transition: background-color 0.3s, opacity 0.3s; /* Add opacity transition */
}
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
.navbar-custom .navbar-nav {
    display: flex;
    width: 100%;
}
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('/assets/2151406598.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}
.hero-section .container {
    position: relative;
    z-index: 2;
}
.hero-section::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.services {
    padding: 50px 0;
}
.services-support {
    padding: 20px 0;
}
.service-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.service-item i {
    font-size: 40px;
    margin-bottom: 20px;
}
.d-sm-flex {
    display: flex !important;
}
.brandsRowContainer_FZIVE {
    position: relative;
    display: flex;
    column-gap: 72px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.brandsRowContainer_FZIVE::-webkit-scrollbar {
    display: none;
}
.ml-custom { margin-left: 20px; }
.mr-custom { margin-right: 20px; }
.custom-col {
    display: flex;
    justify-content: center;
}
.testimonial-section {
    padding: 90px 0;
    background-color: #2c2c2c;
    color: white;
}
.testimonial-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.testimonial-scroll {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
}
.testimonial-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    background-color: #333;
    border: none;
    padding: 20px;
    scroll-snap-align: start;
}
.testimonial-card img {
    max-width: 100px;
    margin-bottom: 20px;
}
.testimonial-card p {
    font-style: italic;
}
.testimonial-card .author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.testimonial-card .author img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}
.navbar-transparent {
    background-color: rgba(0, 0, 0, 0); /* Initial transparent background */
}