<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  
  <div id="aboutPage" *ngIf="structure.showSupport">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom pt-2" style="top: 0;">
      <div class="container">
         <button class="nav-link d-inline d-flex" 
            style="color: white; margin-top: 0.8px; font-size: 22px; margin-right: 10px;" 
            (click)="backClicked()">
             <i class="fa-solid fa-arrow-left"></i>
         </button>
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarNav" 
                aria-controls="navbarNav" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto d-flex">
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Feature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/support">Support</a>
            </li>
          </ul>
        </div>
        <div class="d-flex" style="align-items: flex-end;">
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-link" href="#">Sign in</a>
            </li>
            <li>
              <a class="nav-link" href="#">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
     </nav>
     
     <div class="hero-section">
         <div class="container">
             <p class="d-flex col-md-4">
                 <button class="nav-link d-inline" (click)="backClicked()">
                     <i class="fa-solid fa-arrow-left"></i> Back
                 </button> 
             </p>
             <hr>
           <h1>Support</h1>
           <p class="mt-4">Having trouble when using our services? Don't worry, we are here to help</p>
         </div>
        </div>
        
        <div *ngFor="let section of sections; let i = index" class="services-support bg-dark" style="color: white; font-size: 18px;">
          <div class="container" id="homepage" style="border-style: solid; border-color: darkgray; border-radius: 20px;">
            <div style="padding: 20px;">
              <div class="header d-flex" style="justify-content: space-between; align-items: center;" (click)="this.toggleExpand(i)">
                <h3>{{ section.title }}</h3>
                <i class="fa-solid fa-2x" [ngClass]="{'fa-angle-down': !section.isExpanded, 'fa-angle-up': section.isExpanded}"></i>
              </div>
              
              <div class="body" [style.display]="section.isExpanded ? 'block' : 'none'">
                <div class="row pt-4">
                  <div [innerHTML]="formatContent(section.content)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>